/* App.css */

body{
	width: 100vw;
	height: 100vh;
}
.App {
	margin: 5px;
	margin-right: 22px;
	text-align: center;
	background-color: #313845;
}

.App-logo {
	height: 10vmin;
	pointer-events: none;
}


.App-link {
	color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 60s linear;
	}
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
