.DataFact a {
	margin: 5px;
	padding: 5px;
	text-decoration: none;
	color: gold;
	outline: solid 2px;
	border-radius: 5px;
}
.DataFact a:hover {
	margin: 5px;
	padding: 5px;
	color: cyan;
	outline: solid 2px;
	border-radius: 5px;
}
